@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Open+Sans&family=Roboto&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */

  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

header {
  position: fixed;
  top: 0;
  background: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0));
  width: 100vw;
  z-index: 99;
}

.navbar {
  padding: 20px 0;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-brand {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #FE0101;
  display: flex;
  align-items: center;
}

.nav-link {
  color: #9F9F9F;
  line-height: 100%;
}

.active {
  color: #FFFFFF !important;
}

.btn-red {
  background-color: #FE0101;
  color: #FFFFFF;
}

.btn-outline {
  border: 2px solid #FE0101;
  color: #FFFFFF;
}

.btn:hover {
  color: white;
}

#hero {
  background: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 100px;
}

#hero .container, #addon .container {
  width: 100%;
}

#hero h1,
#addon h1,
#stream h1,
#community h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}

#hero p,
#partner p,
#addon p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #DAD7D7;
  line-height: 30px;
  letter-spacing: 0.2px;
}

#partner, #games {
  padding: 100px 0 30px;
}

#partner img {
  width: 90%;
}

.text-red, .card-detail {
  color: #FE5A5A;
  text-decoration: none;
}


#games p {
  color: rgba(255, 255, 255, 0.5);
}

.tab-item {
  background: #30384D;
  border-radius: 5px;
}

.active-tab, .tab-item:hover{
  background: #4D3030;
  color: #FFFFFF !important;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-detail {
  font-size: 12px;
  line-height: 16px;
}

.card-detail:hover {
  color: #FE5A5A;
  text-decoration: underline;
}

#addon {
  background-image: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-image: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-image: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-image: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 100px;
  color: #FFFFFF
}

.card-price {
  font-family: 'Roboto';
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 0;
  border: 0px;
}

.card-head {
  background-color: #FE0101;
  color: #FFFFFF;
  padding: 25px 0;
}

.price > span {
  font-size: 50px;
  font-weight: 400;
}

.stream-container {
  width: 90%;
  height: 300px;
  position: relative;
}

.stream-container h1,
.stream-container img {
  position: absolute;
}

.stream-container h1 {
  z-index: 2;
}

.stream-container img {
  top: 70px;
  left: 30px;
  width: 90%;
}

#community {
  background-image: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-image: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-image: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-image: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50vh 0 30vh;
  color: #FFFFFF
}

footer h5 {
  opacity: 0.5;
}

footer .nav-item a {
  color: #FFFFFF;
}

.nav-item a:hover {
  color: #FFFFFF;
  opacity: 0.5;
}


@media (min-width: 	576px) {
  #stream h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  #hero .container, #addon .container {
    width: 50%;
  }

  #hero h1,
  #addon h1,
  #community h1 {
    font-size: 70px;
  }

  #stream h1 {
    font-size: 50px;
    width: 50%;
  }

  .stream-container {
    width: 50%;
  }
}