@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Open+Sans&family=Roboto&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */

  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
}

header {
  position: fixed;
  top: 0;
  background: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0));
  background: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0));
  background: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0));
  background: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0));
  width: 100vw;
  z-index: 99;
}

.navbar {
  padding: 20px 0;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-brand {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #FE0101;
  display: flex;
  align-items: center;
}

.nav-link {
  color: #9F9F9F;
  line-height: 100%;
}

.active {
  color: #FFFFFF !important;
}

.btn-red {
  background-color: #FE0101;
  color: #FFFFFF;
}

.btn-outline {
  border: 2px solid #FE0101;
  color: #FFFFFF;
}

.btn:hover {
  color: white;
}

#hero {
  background: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0), rgba(16, 16, 16, 1)), url("assets/hero-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 100px;
}

#hero .container, #addon .container {
  width: 100%;
}

#hero h1,
#addon h1,
#stream h1,
#community h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}

#hero p,
#partner p,
#addon p,
#blogs p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #DAD7D7;
  line-height: 30px;
  letter-spacing: 0.2px;
}

#partner, #games {
  padding: 100px 0 30px;
}

#partner img {
  width: 90%;
}

.text-red, .card-detail {
  color: #FE5A5A;
  text-decoration: none;
}


#games p {
  color: rgba(255, 255, 255, 0.5);
}

.tab-item {
  background: #30384D;
  border-radius: 5px;
}

.active-tab, 
.tab-item:hover{
  background: #4D3030;
}

.nav-link:hover {
  color: #FFFFFF;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-detail {
  font-size: 12px;
  line-height: 16px;
}

.card-detail:hover {
  color: #FE5A5A;
  text-decoration: underline;
}

#addon {
  background-image: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-image: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-image: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-image: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/addon-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 100px;
  color: #FFFFFF
}

.card-price {
  font-family: 'Roboto';
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 0;
  border: 0px;
}

.card-head {
  background-color: #FE0101;
  color: #FFFFFF;
  padding: 25px 0;
}

.price > span {
  font-size: 50px;
  font-weight: 400;
}

#community {
  background-image: linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-image: -webkit-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-image: -moz-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-image: -o-linear-gradient(rgba(16, 16, 16, 1), rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 1)), url("assets/community-background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40vh 0 20vh;
  color: #FFFFFF
}

footer h5 {
  opacity: 0.5;
}

footer .nav-item a {
  color: #FFFFFF;
}

.nav-item a:hover {
  color: #FFFFFF;
  opacity: 0.5;
}

#partner,
#games,
#price-list,
#community {
  position: relative;
}

#partner > img {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 70%;
}

#games > img {
  position: absolute;
  right: 0;
  top: 500px;
  max-width: 70%;
}

#price-list > img {
  position: absolute;
  top: 0px;
  max-width: 70%;
}

#community > img {
  position: absolute;
  right: 0px;
  top: 50px;
  opacity: 0.5;
  max-width: 70%;
}

.login-modal-content,
.register-modal-content {
  background: linear-gradient(190deg, rgba(0, 224, 255, 0.7), rgba(0, 224, 255, 0.4), rgba(255, 255, 255, 0.5), rgba(255, 0, 214, 0.5)), #FFFFFF;
  background: -webkit-linear-gradient(260deg, rgba(0, 224, 255, 0.7), rgba(0, 224, 255, 0.4), rgba(255, 255, 255, 0.5), rgba(255, 0, 214, 0.5)), #FFFFFF;
  background: -moz-linear-gradient(260deg, rgba(0, 224, 255, 0.7), rgba(0, 224, 255, 0.4), rgba(255, 255, 255, 0.5), rgba(255, 0, 214, 0.5)), #FFFFFF;
  background: -o-linear-gradient(260deg, rgba(0, 224, 255, 0.7), rgba(0, 224, 255, 0.4), rgba(255, 255, 255, 0.5), rgba(255, 0, 214, 0.5)), #FFFFFF;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.login-wrapper {
  width: 90%;
  margin: 0 auto;
}

.fade {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 46, 0.1), rgba(255, 0, 0, 0.2)) no-repeat right;
  background: -webkit-linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 46, 0.1), rgba(255, 0, 0, 0.2)) no-repeat right;
  background: -moz-linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 46, 0.1), rgba(255, 0, 0, 0.2)) no-repeat right;
  background: -o-linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 46, 0.1), rgba(255, 0, 0, 0.2)) no-repeat right;
  background-size: 30% 100%;
}

input[name="fullname"], input[name="email"], input[name="password"] {
  background-color: transparent;
  border: none;
  border-bottom: #101010 1px solid;
  padding: 5px 2px;
}

/* Custom Scrollbar */
::-webkit-scrollbar
{
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar-thumb
{
  background: #404040;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

.cursor-pointer {
  cursor: pointer;
}

#internet-package-page {
  position: relative;
  background: url("assets/package-list-bg.png");
  background-position: 0px 15px;
}

#internet-package-page img {
  position: absolute;
  top: 0px;
  max-width: 70%;
}

#search-group {
  width: 90%;
}

.form-control:focus {
  outline-style: none;
  box-shadow: none;
}

.page-link {
  color: #FFFFFF;
  background-color: transparent;
}

.active>.page-link {
  background-color: #FE0101;
  border: #FE0101 1px solid;
}

a.page-link:hover {
  color: #101010 !important;
}

.card-blog a:hover {
  color: #FE0101;
}

.blog-date,
.blog-author {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #A5A5A5;
}

@media (min-width: 	576px) {
  #stream h1 {
    font-size: 40px;
  }
  #search-group {
    width: 70%;
  }
}

@media (min-width: 769px) {
  #hero .container, #addon .container {
    width: 50%;
  }
  
  #hero h1,
  #addon h1,
  #community h1 {
    font-size: 70px;
  }
  
  #stream h1 {
    font-size: 50px;
    width: 50%;
  }
  
  .stream-container {
    width: 50%;
  }
  
  .login-wrapper {
    width: 50%;
  }
  
  #internet-package-page {
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }

  #search-group {
    width: 50%;
  }

  #right-events {
    position: absolute;
    left: 50%;
    width: 50%;
    top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #events-content {
    position: relative;
    width: 100%;
  }
}